In [1]:
import pandas as pd
import numpy as np
import torch
from sklearn.preprocessing import KBinsDiscretizer, OneHotEncoder
from experiments.data.load_datasets import load_mimic

ModuleNotFoundError: No module named 'experiments'

In [32]:
df = pd.read_csv("StaticData.csv")
df = df.drop(['PatientID', 'deathperiod'], axis=1)
df.head()

,los,gender,age,comorbidity,sofa,respiration,coagulation,liver,renal,cardiovascular,cns
0,9,1,74.19,7,7,0.0,1.0,NaN,0.0,3.0,3.0
1,2,0,75.00,4,2,NaN,0.0,0.0,1.0,NaN,1.0
2,16,0,51.92,4,2,NaN,0.0,NaN,0.0,NaN,2.0
3,12,0,51.73,-13,4,2.0,2.0,NaN,0.0,NaN,0.0
4,7,0,62.07,0,3,0.0,2.0,NaN,1.0,NaN,0.0

In [37]:
for col in df.columns:
    df[col] = df[col].map(lambda x: 4 if str(x) == 'NaN' else x)

df.head()

,los,gender,age,comorbidity,sofa,respiration,coagulation,liver,renal,cardiovascular,cns
0,9,1,74.19,7,7,0.0,1.0,NaN,0.0,3.0,3.0
1,2,0,75.00,4,2,NaN,0.0,0.0,1.0,NaN,1.0
2,16,0,51.92,4,2,NaN,0.0,NaN,0.0,NaN,2.0
3,12,0,51.73,-13,4,2.0,2.0,NaN,0.0,NaN,0.0
4,7,0,62.07,0,3,0.0,2.0,NaN,1.0,NaN,0.0

In [22]:
df.describe()

,los,gender,age,comorbidity,sofa,respiration,coagulation,liver,renal,cardiovascular,cns
count,5262.000000,5262.000000,5262.000000,5262.000000,5262.000000,3311.000000,5227.000000,2254.000000,5261.000000,1294.000000,5212.000000
mean,14.668757,0.382554,75.049002,9.801026,4.794185,1.987315,0.674957,0.696983,1.017297,3.238022,0.768611
std,14.101457,0.486057,50.553676,9.671438,2.694694,1.374066,0.892066,1.051290,1.263514,0.706116,1.140061
min,1.000000,0.000000,16.010000,-16.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,0.000000,55.410000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,10.000000,0.000000,68.300000,9.000000,4.000000,2.000000,0.000000,0.000000,1.000000,3.000000,0.000000
75%,18.000000,1.000000,78.525000,16.000000,6.000000,3.000000,1.000000,1.000000,2.000000,4.000000,1.000000
max,202.000000,1.000000,306.880000,47.000000,22.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [24]:
print(df.shape)
df = df.dropna()
df.shape

(5262, 11)

(484, 11)

In [13]:
categories = {0: 'very low', 1: 'low', 2: 'medium', 3: 'high', 4: 'very high'}

bins = 3

est = KBinsDiscretizer(n_bins=bins, encode='ordinal', strategy='uniform')
est.fit(df)

dfTransformed = pd.DataFrame(est.transform(df), columns=data.feature_names)
dfTransformed.head()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').